# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform.tfstate

# Secrets
*.pem
*.key
.env
app/api
app/api
terraform/terraform.tfstate.d/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
