# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfstate.d/

# Secrets
*.pem
*.key
.env

# Build artifacts
app/api

# OS / editor
.DS_Store
.vscode/
*.swp

# Misc
*.log
sbom.json
kyverno-cli_*.tar.gz
